#more {display: none;}

body{
    margin: 0em 9em 0em 9em;
}

.margin{
    margin: 1em 3em 1em 3em;
}

footer{
    text-align: center;
}

.logo_email{
    display:flex;
    justify-content: space-between;
}
.flex{
    display:flex;
}

#loader{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}